/* =========================
   Configuração global
   ========================= */

* {
    modi: "drun,run,window";
    font: "Adwaita Mono 12";

    background-color: @background;
    text-color: @foreground;
}

/* =========================
   Configuration
   ========================= */

configuration {
    display-drun: "";
    display-run: "";
    display-window: "";
    show-icons: false;
}

/* =========================
   Janela principal
   ========================= */

window {
    name: "main";

    background-color: @background;

    width: 800px;
    height: 410px;

    padding: 10px;

    border: 1px;
    border-color: @foreground;
}

/* =========================
   Container principal
   ========================= */

mainbox {
    background-color: @background;

    children: [
        inputbar,
        listview
    ];
}

/* =========================
   Barra de entrada
   ========================= */

inputbar {
    background-color: @background;
    width: 50%;
    children: [
        prompt,
        entry
    ];

    border: 1px;
    border-color: @foreground;

    padding: 9px;
}

/* =========================
   Prompt
   ========================= */

prompt {
    placeholder: "♱";
    text-color: @foreground;
}

/* =========================
   Campo de texto
   ========================= */

entry {
    text-color: @foreground;
    background-color: transparent;
}

/* =========================
   Lista
   ========================= */

listview {
    background-color: @background;
    children: [
        element
    ];

    spacing: 4px;

    padding: 6px 0px 0px 0px;

    scrollbar: false;
}

/* =========================
   Elementos
   ========================= */

element {
    width: 100%;

    children: [
        element-text
    ];

    margin: 0px;
    padding: 4px 9px;

    border-radius: 0px;
}

/* =========================
   Item normal
   ========================= */

element normal {
    background-color: transparent;
    text-color: @foreground;
}

/* =========================
   Item alternado
   ========================= */

element alternate {
    background-color: transparent;
    text-color: @foreground;
}

/* =========================
   Item selecionado
   ========================= */

element selected {
    background-color: @color4;
    text-color: @background;
}

/* =========================
   Texto selecionado
   ========================= */

element-text selected {
    background-color: transparent;
    text-color: @background;
}

/* =========================
   Ícones
   ========================= */

element-icon {
    background-color: transparent;
}

/* =========================
   Scrollbar
   ========================= */

scrollbar {
    background-color: transparent;
}

/* =========================
   Mensagens
   ========================= */

message {
    background-color: transparent;
    text-color: @foreground;
}

textbox {
    background-color: transparent;
    text-color: @foreground;
}
